$visual-grid: true;
$visual-grid-color: gray;
$visual-grid-index: front;

$border-box-sizing: true !default;

$teal: #5ec5bf;
$orange: #e8844e;
$red: #ee1f09;
$green: #66B996;
$mustard: #DED843;
$purple: #a56faf;
$turquoise: #5FB6C0;
$yellow: #E3E075;
$blue: #5877BB;

$mobile-font: 0.73em;


// Font weights
// $light: 100;
// $regular: 400;
// $bold: 600;



// Base Font
// $base-font-family: sans-serif;
// $base-font-weight: $regular;
// $base-font-size: 13px;
// $base-line-height: 1.4;

// Fixed Font
// $fixed-font-family: monospace;
// $fixed-font-size: 85%;
// $fixed-line-height: $base-line-height;

// Headings
// $header-font-weight: $bold;

// Center Images
// $centerX: 0 auto;




